.mainDiv {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
}
.mainDiv > div {
  margin: 10px;
  height: 230px;
  width: 480px;
  background-image: url("../../../public/images/billboard3.jpg");
  background-position: center;
  background-size: 100%;
  font-family: "MyCustomFont";
  /* font-weight: 600; */
}

/* 720 x 514 */
